<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Gaggle</h1>
  <div class="tagline">Ratings from the people you trust</div>
  <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<h2>Recently Rated Films</h2>
  <div class="row-fluid recent">
    <% @recentlyrated.each do |recent| %>
      <div class="span2 movie_item" align="center">
        <%= link_to image_tag(recent.movie.poster_location, alt: recent.movie.title), movie_path(recent.movie) %>
        <div class="caption">
          <h4><%= link_to recent.movie.title, movie_path(recent.movie) %></h4>
          <p>rated by <%= recent.user.username %> on <%= recent.updated_at.strftime("%m/%d/%Y") %></p>
        </div>
      </div>
    <% end %>
  </div>
<!-- Example row of columns -->
<div class="row-fluid marketing">
  <div class="span6 row">
    <h2>In Theaters Now</h2>
      <ul class="thumbnails">
        <% Movie.get_box_office.each do |bm| %>
          <li class="span3">
            <div class="thumbnail movie_item" align="center">
            <%= link_to image_tag(bm.poster_location, alt: bm.title), movie_path(bm) %>
            <div class="caption">
              <%= link_to bm.title, movie_path(bm) %>
            </div></div>
          </li>
        <% end %>
      </ul>
 </div>
  <div class="span6">
    <h2>New Rentals</h2>
      <ul class="thumbnails">
        <% Movie.get_recent_rentals.each do |r| %>
          <li class="span3">
            <div class="thumbnail movie_item" align="center">
              <%= link_to image_tag(r.poster_location, alt: r.title), movie_path(r) %>
              <div class="caption">
              <%= link_to r.title, movie_path(r) %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
  </div>
</div>
