<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Gaggle</h1>
  <div class="tagline">Ratings from the people you trust</div>
  <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<h2>Recently Rated Films</h2>
  <div class="row-fluid recent">
    <ul class="thumbnails">
      <% @recentlyrated.each do |recent| %>
        <li class="span2">
        <div class="thumbnail movie_item" align="center">
          <%= link_to image_tag(recent.movie.poster_location, alt: recent.movie.title, width: "75%", height: "75%"), movie_path(recent.movie) %>
          <div class="caption">
            <h4><%= link_to recent.movie.title, movie_path(recent.movie) %></h3>
            <p>rated by <%= recent.user.username %> on <%= recent.updated_at.strftime("%m/%d/%Y") %></p>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
<!-- Example row of columns -->
<div class="row-fluid marketing">
  <div class="span6">
    <h2>In Theaters Now</h2>
      <ol>
        <% Movie.get_box_office.each do |bm| %>
          <li><%= link_to bm.title, movie_path(bm) %></li>
        <% end %>
      </ol>
 </div>
  <div class="span6">
    <h2>New Rentals</h2>
      <ol>
        <% Movie.get_recent_rentals.each do |r| %>
        <li><%= link_to r.title, movie_path(r) %></li>
        <% end %>
      </ol>
  </div>
</div>
