<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Gaggle</h1>
  <div class="tagline">Ratings from the people you trust</div>
  <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row-fluid marketing">
  <div class="span6">
    <h2>Recently Rated Movies</h2>
      <% @recentlyrated.each do |recent| %>
      <p>
        <img src="<%= recent.movie.poster_location %>" width="20%" height="20%" /><%= link_to recent.movie.title, movie_path(recent.movie) %> was rated by <%= recent.user.username %> on <%= recent.updated_at.strftime("%m/%d/%Y") %>
        </p>
      <% end %>

  </div>
  <div class="span3">
    <h2>In Theaters Now</h2>
    <% cache do %>
      <ol>
        <% Movie.get_box_office.each do |bm| %>
          <li><%= link_to bm.title, movie_path(bm) %></li>
        <% end %>
      </ol>
    <% end %>
 </div>
  <div class="span3">
    <h2>New Rentals</h2>
    <% cache do %>
      <ol>
        <% Movie.get_recent_rentals.each do |r| %>
        <li><%= link_to r.title, movie_path(r) %></li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
