<p>Add a new movie to the database</p>

<%= form_for(@movie) do |f| %>
  <p><%= f.label "Movie Title" %>
  <%= f.text_field :title %></p>

  <p><%= f.label "Summary" %>
  <%= f.text_area :summary, :size => "120x10" %></p>

  <p><%= f.label "Year" %>
  <%= f.text_field :year %></p>

  <%= f.submit "Submit", :class => 'btn btn-primary' %>

<% end %>
