<div class="row">
  <div class="span8">
    <div class="poster"><img src="<%= @movie.poster_location %>"  /></div>

    <h1><%= @movie.title %> (<%= @movie.year %>)</h1>
    <div class="movie_desc">
      Summary: <%= @movie.summary %>
    </div>
    <br />
    <p>MPAA rating: <%= @rotteninfo.mpaa_rating %></p>
    <div class="critics_consensus">Critics Consensus: <%= @rotteninfo.critics_consensus %></div>

    <div class="movie_ratings">
      <h3>Ratings from all users (average rating: <%= @movie.ratings.average('grade') %>)</h3>
      <% @movie.ratings.each do |rating| %>
        <p>Grade from <%= User.find(rating.user_id).username %> : <%= rating.grade %></p>
      <% end %>
    </div>

    <!-- let's only make these features available to admins -->
    <% if can? :manage, @movie %>
      <p><%= button_to "Edit", edit_movie_path(@movie), method: :get, class: "btn" %></p>
      <p><%= button_to "Delete", movie_path(@movie), method: :delete, class: "btn btn-danger", confirm: "Are you sure you want to do this?" %>
    <% end %>

    <p><%= link_to "Back", movies_path %></p>

  </div>

  <div class="span3 well">
    <% if user_signed_in? %>
      <%= render partial: 'rating/rating_form' %>
    <% else %>
      <p>If you'd like to rate this film, please sign in</p>
    <% end %>
  </div>

</div>
