<!DOCTYPE html>
<html>
<head>
  <title>Gaggle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span2">
    <!--Sidebar content-->
    </div>
    <div class="span10">
    <!--Body content-->
    <% if !flash.notice.nil? %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash.notice %>
      </div>
    <% end %>
    <%= yield %>
    </div>
    </div>
    </div>

</body>
</html>
